#sobre{background-color: rgb(113, 200, 221);}
#Contatos {background-color: whitesmoke}
#interesses {background-color: blue;} 
body {background-color: rgb(228, 228, 228);}
#link-contato{color: blueviolet;}
h1 {text-align: center;}
header {text-align: center;}
p{text-align: justify;}
#email {color: darkmagentaS;}